# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
src/pages/web3/node_modules/*

# Secure
src/pages/web3/catmvpSWYqvDQemnfPWfH95umTGNF3xPkXLbqJMETRg.json
src/pages/web3/CNFTr56CpwLA8jrAbFfvMn4MJznNCaYoKvTkTgMgfinL.json
src/pages/web3/cattNiXLsCNVEK4JzAqJmX5FQz92e1MGiftmNN9xpXz.json
src/pages/web3/jaSMZXkYpryPSVg9zELUa22nFXKXq9JU25QTh82HBui.json

/src/components/NFTCard.js