@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    color: rgb(var(--foreground-rgb));
    /*background: linear-gradient(      to bottom,      transparent,      rgb(var(--background-end-rgb))    )    rgb(var(--background-start-rgb));
    */background: #000000;
    /*fallbackforoldbrowsers*//*background-image: url('../../public/bgclab.png');
    background-size: cover;
    */
    animation: all 1s;
    -webkit-animation: all 1s;
}

a:hover{
  cursor: url(../../public/Alternateselect.ani);
}
button{
  cursor: url(../../public/Alternateselect.ani) !important;
}
.btncur:hover{
  cursor: url(../../public/Alternateselect.ani) !important;
}
.btncur{
  cursor: url(../../public/Alternateselect.ani) !important;
}
.wallet-adapter-button{
  cursor: url(../../public/Alternateselect.ani) !important;
}


.heading{
  font-size: 2em;
}


.techFrame{
  overflow: hidden;
  box-shadow: 0px 1px 6px rgb(255, 255, 255);
  background-color: rgba(0,0,0,0);
}

.flat{
    content: "";
    position:absolute;
    margin:-20px;
    width:40px;
    height:40px;
    background-color:#555;
}

.wallet-adapter-button{
  transition: all 0.4s ease-in-out !important;
  -webkit-transition: all 0.4s ease-in-out !important;
  -moz-transition: all 0.4s ease-in-out !important;
  -ms-transition: all 0.4s ease-in-out !important;
  -o-transition: all 0.4s ease-in-out !important;
  border: 1px white solid !important;
}

.wallet-adapter-button-trigger{
  background-color: rgba(134, 9, 9, 0) !important;
  border: 2px white solid;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  color: white !important;
}
.wallet-adapter-button:hover{
  border: 1px white solid !important;
  background-color: rgba(57, 57, 57, 0.8) !important;
  
}
